<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Trainer</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/staff.css" type="text/css">
</head>
<body>
</body>
    <div class="container ">

    {{> trainerheader}}

    <!-- Content -->
    <div class="main_Content">

        <div class="bottomTraineeLayout">
             <table border="1" cellspacing ="0 " cellpadding="15">
                <thead>
                    <tr>
                            <th>Trainer Name</th>
                            <th>Course</th>
                            <th>Duration</th>      
                            <th>View Trainees In Course</th>                
                    </tr>
                </thead>
                    <tbody>
                            {{#each viewAllAssign1}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{name1}}</td>
                                <td>{{dura}}</td>  
                                <td>
                                    <button>
                                        <a href="../trainer/viewAllTrainee">                                      
                                        View
                                        </a>
                                    </button>
                                </td>           
                            </tr>
                        {{/each }}
            </tbody>
           </table>
        </div>
    </div>

    <!-- (End) Content -->

    {{> footer}}

</div>
</html>