div.topTraineeLayout {
    width: 100%;
    height: 300px;
}

div.tableAddTrainee {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    margin-left: 30%;
}

h4 {
    margin-left: 35%;
}

div.tableAddTrainee table {
    margin-left: 15%;
    margin-top: 5%;
}

div.tableAddTrainee table input {
    margin-top: 5px;
}

div.bottomTraineeLayout {
    width: 100%;
    height: 390px;
    margin-top: 10px;
}

div.bottomTraineeLayout input.traineeSearchBar {
    margin-top: 5px;
    margin-left: 35%;
}

div.bottomTraineeLayout table {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    overflow: auto;
}

div.updateTraineeAccount {
    width: 40%;
    height: 350px;
    margin-top: 5%;
    margin-left: 30%;
    border: 1px solid black;
}

div.updateTraineeAccount table {
    margin-left: 20%;
    margin-top: 5%;
}

div.updateTraineeAccount table input {
    margin-top: 5px;
}

div.updateTraineeAccount table input.updateButton {
    margin-top: 15px;
}