 <!-- Header -->
    <div class="header">
        <div class="greeting ">
            <h1> FPT Training System </h1>
        </div>
    </div>
    
      <div class="navigation_bar ">    
                <nav>
                    <form method="GET" action=""></form>
                        <ul>
                            <li>
                                <a href="/home">Home</a>
                            </li>
                            
                            <li>
                                <a href="">Logout</a>
                            </li>
                            <!-- <input class="get_text_search" type="text" name="search" placeholder="Input Product's Name ...">
                            <input placeholder="Search" type="submit" name="submit"> -->
                        </ul>
                    </form>
                </nav>
        </div>

    <!-- (End) Header -->