 <!-- Header -->
    <div class="header">
        <div class="greeting ">
            <h1> FPT Training System </h1>
        </div>
    </div>
    
      <div class="navigation_bar ">    
                <nav>
                        <ul>
                            <li>
                                <a href="../staff">Home</a>
                            </li>
                            
                              <li>
                                <a href="../staff/traineeManagement">Trainee Management</a>
                            </li>                         
                            
                             <li>
                                <a href="../staff/Course">Course</a>

                            </li>  

     
                             <li>
                                <a href="../staff/CourseCategory">Course Category</a>

                            </li>  

                            <li>
                                <a href="../staff/AssignTrainee">Assign Management</a>

                            </li>
                     
                            <li>
                                <a href="">Logout</a>
                            </li>              
                        </ul>
                </nav>
        </div>

    <!-- (End) Header -->