 <!-- Header -->
    <div class="header">
        <div class="greeting ">
            <h1> FPT Training System </h1>
        </div>
    </div>
    
      <div class="navigation_bar ">    
                <nav>
                        <ul>
                           
                                                        
                            <li>
                                <a href="../trainer/trainerHome">Trainer's Information </a>
                            </li> 
                            <li>
                                <a href="../trainer/viewCourse">View Course </a>
                            </li> 

                            <li>
                                <a href="../">Logout</a>
                            </li>              
                        </ul>
                </nav>
        </div>

    <!-- (End) Header -->