<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Assign Course Page </title>
    <link rel="stylesheet" href="css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="css/staff.css" type="text/css">
</head>
<body>
</body>
<div class = "container "> 

{{> header}}

    <div class = "main_Content">
        <div class = "topTraineeLayout">
            <div class = "tableAssignCourse">
                <h4>Assign Course</h4>
            </div>
        </div>
    </div>

</div>

</html>