<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Category</title>
    <link rel="stylesheet" href="css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="css/staff.css" type="text/css">

</head>

<body>
</body>
<div class="container ">

    {{> header}}

    <!-- Content -->
    <div class="main_Content">

        <div class="topTraineeLayout">
            <div class="tableAddTrainee">
                <h3 style="font-size: xx-large; text-align: center">Add Course Category</h4>

                <table style="margin:auto">
                    <form  action="../staff/addCourseCategory" method="post">
                        <tr>
                            <td>Name : </td>
                            <td><input type="text" name="txtNameCourseCategory"> </td> 
                        </tr>
                        <tr>
                            <td>Description : </td>
                            <td><input type="text" name="txtCourseDescription"> </td> 
                        </tr>
                        <td></td>
                            <td><input type="submit" value="Insert" class="insertButton"></td>
                    </form>
                </table>
            </div>
        </div>

        <div class="bottomTraineeLayout">
            <form method="POST" action="../staff/searchCourseCategory">
                <input class="traineeSearchBar" type="text" name="txtNameCourseCategory" style="width: 350px;">
                <input type="submit" value="Search">          
            </form>

             <table border="1" cellspacing ="0 " cellpadding="15">
                <thead>
                    <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Delete</th>
                            <th>Update</th>                          
                    </tr>
                </thead>
                    <tbody>
                        {{#each viewAllCourseCategory}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{description}}</td>
                                <td>
                                    <button>
                                        <a href="../staff/deleteCourseCategory?id={{_id}}" onclick="return confirm('Are You Sure to Delete ?')">
                                        <img src="https://icon-library.com/images/red-recycle-bin-icon/red-recycle-bin-icon-18.jpg"
                                            width="18" height="18">
                                                Delete
                                        </a>
                                    </button>
                                </td>
                                <td>
                                        <button>
                                            <a href="../staff/updateCourseCategory?id={{_id}}">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"
                                                width="18" height="18" alt="">
                                                Update
                                            </a>
                                    </button>
                                </td>
                            
                            </tr>
                        {{/each }}

            </tbody>
           </table>
        </div>
    </div>

    <!-- (End) Content -->

    {{> footer}}

</div>


</html>