<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Category</title>
    <link rel="stylesheet" href="css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="css/staff.css" type="text/css">

</head>

<body>
</body>
<div class="container ">

    {{> header}}

    <!-- Content -->
    <div class="main_Content">
        <div>.</div>
        <div class="updateTraineeAccount">
                <h4>Update Course Category</h4>

                <table>
                    <form action="../staff/doupdateCourseCategory" method="post">
                    <td><input type="hidden" name="id" value="{{courseCategory._id}}"></td>

                     <tr>
                        <td>Name : </td>
                        <td><input type="text" name="txtNameCourseCategory" value="{{courseCategory.name}}"> </td> 
                    </tr>
                    <tr>
                        <td>Description : </td>
                        <td><input type="text" name="txtDesCourseCategory" value="{{courseCategory.description}}"> </td> 
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Update" class="updateButton"></td>

                    </tr>
                </form>
                </table>

        </div>

    </div>

    <!-- (End) Content -->

    {{> footer}}

</div>


</html>